name: Build Content-Hub Playbooks
permissions:
  contents: read
on:
  push:
    branches:
    - '**'
    paths:
    - 'content/playbooks/**'
    - '.github/workflows/**'
    - 'packages/**'

  pull_request:
    branches:
    - '**'
    paths:
    - 'content/playbooks/**'
    - '.github/workflows/**'
    - 'packages/**'

jobs:
  mp_build:
    name: Build All Playbooks
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install mp package
      run: |
        python -m pip install uv
        uv pip install --system -e ./packages/mp

    - name: Build Playbooks
      shell: bash
      run: |
        mp config --root-path . --processes 10 --display-config
        mp build repository playbooks