name: Python Code Checks with Static Type Checking for mp
permissions:
  contents: read
on:
  push:
    branches:
      - '**'
    paths:
      - 'packages/mp/**'
  pull_request:
    branches:
      - '**'
    paths:
      - 'packages/mp/**'
jobs:
  mp_check:
    name: Code Linter
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install mp package and run checks
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          python3 -m pip install --upgrade pip
          python3 -m pip install ./packages/mp
          python3 -m mp config --root-path . --processes 10 --display-config
          python3 -m mp check --changed-files --raise-error-on-violations --output-format grouped --static-type-check
