name: Validate Content-Hub Playbooks

on:
  push:
    branches:
    - '**'
    paths:
    - 'content/playbooks/**'
    - '.github/workflows/**'
    - 'packages/**'

  pull_request:
    types: [ opened, synchronize, reopened ]
    branches:
    - '**'
    paths:
    - 'content/playbooks/**'
    - '.github/workflows/**'
    - 'packages/**'

permissions:
  contents: read

jobs:
  validate:
    name: Validate Playbooks
    runs-on: ubuntu-latest

    steps:
    - name: Checkout PR code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install mp package
      run: |
        python -m pip install uv
        uv pip install --system -e ./packages/mp

    - name: Run Validations
      env:
        GITHUB_PR_SHA: ${{ github.event.pull_request.head.sha }}
      run: |
        mp config --root-path . --processes 10 --display-config
        mp validate repository playbooks --only-pre-build
